@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 16%;
    --primary: 270 56% 38%;
    --primary-foreground: 0 0% 98%;
    --secondary: 193 42% 41%;
    --secondary-foreground: 0 0% 98%;
    /* ... and all other variables ... */
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 94%;
    --primary: 271 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 193 42% 41%;
    --secondary-foreground: 0 0% 98%;
    /* ... and all other variables ... */
  }
}